$bg-black-50: #f7f7f7;
$bg-black-100: #e3e3e3;
$bg-black-200: #c8c8c8;
$bg-black-300: #a4a4a4;
$bg-black-400: #818181;
$bg-black-500: #666666;
$bg-black-600: #515151;
$bg-black-700: #434343;
$bg-black-800: #383838;
$bg-black-900: #000000;

$primary-blue-50: #eef8ff;
$primary-blue-100: #d9efff;
$primary-blue-200: #bce4ff;
$primary-blue-300: #8dd4ff;
$primary-blue-400: #58baff;
$primary-blue-500: #319bff;
$primary-blue-600: #1b7bf5;
$primary-blue-700: #1363df;
$primary-blue-800: #1651b7;
$primary-blue-900: #184790;

$secondary-red-50: #fff0f0;
$secondary-red-100: #ffdedd;
$secondary-red-200: #ffc2c1;
$secondary-red-300: #ff9795;
$secondary-red-400: #ff5c59;
$secondary-red-500: #ff2925;
$secondary-red-600: #fa0702;
$secondary-red-700: #d50400;
$secondary-red-800: #b00704;
$secondary-red-900: #910e0b;

$comp-orange-50: #fffcea;
$comp-orange-100: #fff5c5;
$comp-orange-200: #ffeb85;
$comp-orange-300: #ffda46;
$comp-orange-400: #ffc61b;
$comp-orange-500: #ffa400;
$comp-orange-600: #e27b00;
$comp-orange-700: #bb5502;
$comp-orange-800: #984108;
$comp-orange-900: #7c360b;

$comp-green-50: #ebfef5;
$comp-green-100: #cefde4;
$comp-green-200: #a1f9ce;
$comp-green-300: #65f0b7;
$comp-green-400: #28df99;
$comp-green-500: #03c682;
$comp-green-600: #00a16a;
$comp-green-700: #008159;
$comp-green-800: #006647;
$comp-green-900: #01533d;

$comp-purple-50: #f5f2ff;
$comp-purple-100: #ebe8ff;
$comp-purple-200: #dad4ff;
$comp-purple-300: #c0b1ff;
$comp-purple-400: #a185ff;
$comp-purple-500: #8758ff;
$comp-purple-600: #7430f7;
$comp-purple-700: #661ee3;
$comp-purple-800: #5518bf;
$comp-purple-900: #47169c;



