/* colors */

$primary-color: $primary-blue-500;
$primary-color-hover: $primary-blue-700;

$secondary-color: $secondary-red-500;
$secondary-color-hover: $secondary-red-700;

/* text */

$text-color: $bg-black-50;
$text-color-hover: $bg-black-200;

$anchor-color: $primary-color;
$anchor-color-hover: $primary-color;

/* fonts */

$text-font-family: $font-public;
$heading-font-family: $font-public;

/* background */

$body-bg-color: $bg-black-900;

/* borders */

$border-color-idle: $bg-black-300;
$border-color-hover: $bg-black-400;
$border-color-active: $bg-black-100;
