@mixin clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin position($position, $top: null, $right: null, $bottom: null, $left: null) {
  position: $position;
  
  @if $top {
    top: $top;
  }
  
  @if $right {
    right: $right;
  }
  
  @if $bottom {
    bottom: $bottom;
  }
  
  @if $left {
    left: $left;
  }
}